<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>HELLO FROM EJS</h1>
    <button type="submit" onclick="alertButton()">SUBMIT</button>

    <script src="/javaScripts/script.js"></script>
  </body>
</html>
